CompileFlags:
  Compiler: C:/msys64/ucrt64/bin/g++
  Add:
    - -Wall
    - -Wextra
    - -Wshadow
    - -Wconversion
    - -Wsign-conversion
    - -std=c++23
    - --target=x86_64-w64-mingw64